# Ignore logs and log files
logs/
*.log

# Ignore Python bytecode files
__pycache__/

# Ignore Airflow specific files (if any, adjust as needed)
airflow.cfg

# Ignore environment-specific files
.env
.venv/
venv/

# Ignore IDE configuration files
.vscode/

# Ignore SQLite database files
airflow.db
airflow.db-journal
*.sqlite
*.sqlite3